{% extends "layout.html" %}

{% block body %}
   <div style="margin: 0 auto; width: 700px; text-align: center; border: solid 2px #a51c30; border-radius:5px;">
      <p>CS50 Certificate</p>
      <img src="/static/images/cs50duck.jpg" style="width:100px; height:80px;">
      <h3>CS50 congratulates</h3>
      <h1 style="color:#a51c30">{{name}}</h1>
      <p>who solved all seven levels in Ready Player 50</p>
      <p>Awarded from Cambridge, Massachusetts,</p>
      <p>in the year teo thousand twenty-three.</p>
      <h3>signed</h3>
      <h4>David J. Malan</h4>
      <p>Gordon McKay Professor of the Practice of Computer Science Harvard University </p>
   </div>
{% endblock %}


